<app-navigation-bar></app-navigation-bar>
<div style="display: flex; margin: 20px">
  <div class="card" *ngFor="let movie of movies" style="padding: 5px; margin-left: 10px; margin-right: 10px">
    <img [src]="movie.realImage" style="height: 350px; width: 250px" />
      <div class="container" style="width: fit-content">
        <h4 class="text"><b> {{movie.title}}</b></h4>
        <p class="text">{{movie.year}}, {{movie.genre}}</p>
    </div>
    <div style="display: flex; justify-content: space-between">
      <button (click)="onDeleteMovie(movie.id)" mat-raised-button color="primary">
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="onPressEdit()" mat-raised-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>
  </div>
</div>
</div>
<app-movie-create-form [movieList]="movies" *ngIf="showForm"></app-movie-create-form>
